.clear {
    clear: both;
}

div.container {
    padding: 0 0 30px 0;
}

button {
    background-color: #007bc3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
}

/* Navigation bootstrap overrides*/
img.nav-icon {
    margin: 10px 0;
}
.navbar-default {
    box-shadow: none !important;
    background-color: white !important;
    border: none !important;
    background-image: none !important;
}

ul.nav a {
    color: #007bc3 !important;
}

/* Add underline for mobile devices */
@media screen and (max-width: 736px) {
    ul.nav a {
        border-bottom: 1px solid #007bc3;
    }
}


ul.nav li.active a {
    border-bottom: 3px solid #007bc3;
}
ul.nav li a:hover {
    border-bottom: 3px solid #007bc3;
}

ul.nav li.active, 
ul.nav li.active a {
    background-color: white !important;
    background-image: none !important;
}

/* End Navigation /*

/* Welcome */
div.welcome {
    margin-top: 200px;
    margin-bottom: 200px;
    position: center;
    text-align: center;
}

div.welcome_text {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35pt;
    color: #007bc3;
}

/* End Welcome */


/* People */
div.people {
    margin-bottom: 20px;
    background-color: #007bc3;
    color: white;
    position: center;
    text-align: center;
    padding-top: 60px;
}

div.people div.header {
    font-size: 30pt;
}

div.people div.subhead {
    margin-top: 10px;
    font-size: 12pt;
}

div.people div.p_head {
    margin-top: 10px;
    font-size: 16pt;
}

div.people div.p_body {
    margin-top: 8px;
    font-size: 10pt;
    padding: 0 80px;
}

div.people img.left {
    float: left;
    width: 100%;
    max-width: 500px;
    height: auto;
}

div.p1 {
    background-image: url('../images/jorge_bg.png');
    background-repeat: no-repeat;
    background-position: -150px -150px;
}

div.p2 {
    background-image: url('../images/bhuwan_bg.png');
    background-repeat: no-repeat;
    background-position: 100px -150px;
}
/* End People

/* What We Do */

div.whatwedo {
    background-color: white;
    position: center;
    text-align: center;
    padding-top: 60px;
}

div.whatwedo div.header {
    font-size: 30pt;
}

div.whatwedo div.subhead {
    color: ;
    margin-top: 10px;
    font-size: 12pt;
}

div.whatwedo div.p_head {
    margin-top: 10px;
    font-weight: bold;
    color: #007bc3;
    font-size: 16pt;
}

div.whatwedo div.p_body {
    margin-top: 8px;
    font-size: 10pt;
    padding: 0 60px;
}

div.img_head {
    background-color: #007bc3;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

div.img_head img.flag {
    width: 20px;
    height: auto;
    position: relative;
    top: 12px;
    left: 4px;
}

div.img_head img.code {
    width: 30px;
    height: auto;
    position: relative;
    top: 10px;
}

div.img_head img.cloud {
    width: 30px;
    height: auto;
    position: relative;
    top: 12px;
    left: 1px;
}
/* End What We Do */

/* Contact */

div.contact {
    background-color: #70ab41;
    color: white;
    position: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url('../images/contact_bg.png');
    background-repeat: no-repeat;
}

div.contact div.header {
    font-size: 30pt;
}

div.contact div.subhead {
    margin-top: 10px;
    font-size: 12pt;
}

div.contact div.p_head {
    margin-top: 10px;
    font-size: 16pt;
}

div.contact form input,
div.contact form textarea {
    color: block;
    width:100%;
}

div.contact form input[type=submit] {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 0;
}

div.msg_container {
   margin: 0 auto;
   width: 280px;
}
div.contact div.message {
    border: 2px solid white;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    float: left;
}

div.contact div.message img {
    position: relative;
    top: -9px;
}
/* End Contact */

/* Footer */
div.footer {
    text-align: center;
    background-color: #2c2c2c;
    color: #8b8b8b;
    padding: 40px 0px;
}

div.footer img {
    margin: 0 5px;
}

/* End Footer */